Repository midoostar1/budget-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{js,jsx,ts,tsx,md,css,scss,json,yml,yaml}": ["prettier -w"]
}

feat: Add Prisma schema and Zod validation schemas
  .env.example
  README.md
  package.json
  prisma/schema.prisma
  src/schemas/dto.ts
  tsconfig.json
Due: eslint --fix, prettier -w

feat: Add Prisma schema and Zod validation schemas
  prisma/schema.prisma
  src/schemas/accountProvider.ts
  src/schemas/category.ts
  src/schemas/common.ts
  src/schemas/enums.ts
  src/schemas/exportJob.ts
  src/schemas/notificationToken.ts
  src/schemas/pendingReceipt.ts
  src/schemas/recurringRule.ts
  src/schemas/subscription.ts
  src/schemas/transaction.ts
  src/schemas/user.ts
  src/schemas/userSettings.ts
Due: eslint --fix, prettier -w

feat: Implement mobile social authentication and backend API
  README.md
  apps/mobile/app.config.js
  apps/mobile/babel.config.js
  apps/mobile/index.js
  apps/mobile/package.json
  apps/mobile/src/App.tsx
  apps/mobile/src/api/client.ts
  apps/mobile/src/auth/AuthContext.ts
  apps/mobile/src/auth/tokenStorage.ts
  apps/mobile/src/screens/ProfileScreen.tsx
  apps/mobile/src/screens/SignInScreen.tsx
  apps/mobile/src/screens/WelcomeScreen.tsx
  apps/mobile/src/services/firebase.ts
  apps/mobile/src/services/socialAuth.ts
  apps/mobile/tsconfig.json
  apps/server/.env.example
  apps/server/package.json
  apps/server/prisma/migrations/20251008203855_init/migration.sql
  apps/server/prisma/migrations/migration_lock.toml
  apps/server/prisma/schema.prisma
  apps/server/src/index.ts
  apps/server/tsconfig.json
Due: eslint --fix, prettier -w

feat: Implement transaction management API and mobile app
  .gitignore
  api/package-lock.json
  api/package.json
  api/src/app.ts
  api/src/routes/categories.ts
  api/src/routes/transactions.ts
  api/src/schemas.ts
  api/src/server.ts
  api/src/store.ts
  api/test/api.test.ts
  api/tsconfig.json
  mobile/README.md
  mobile/app.json
  mobile/app/_layout.tsx
  mobile/app/add.styles.ts
  mobile/app/add.tsx
  mobile/app/categories.tsx
  mobile/app/index.tsx
  mobile/package.json
  mobile/tsconfig.json
Due: eslint --fix, prettier -w

feat: Initialize project with backend and mobile structure
  .env.example
  .eslintrc.json
  .gitignore
  IMPLEMENTATION.md
  QUICKSTART.md
  README.md
  backend/src/__tests__/categories.test.ts
  backend/src/__tests__/transactions.test.ts
  backend/src/__tests__/validation.test.ts
  backend/src/openapi.yaml
  backend/src/routes/categories.ts
  backend/src/routes/transactions.ts
  backend/src/server.ts
  backend/src/start.ts
  backend/src/storage.ts
  backend/src/types.ts
  backend/src/validation.ts
  backend/tsconfig.json
  jest.config.js
  jest.setup.js
  mobile/App.tsx
  mobile/README.md
  mobile/app.json
  mobile/package.json
  mobile/src/screens/AddTransaction.tsx
  mobile/src/screens/CategoryPicker.tsx
  mobile/src/screens/TransactionsList.tsx
  mobile/src/services/api.ts
  mobile/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

Add comprehensive deployment guides and configure OAuth credentials
  CONFIGURATION_CHECKLIST.md
  CREDENTIALS_CONFIGURED.md
  GCP_QUICK_DEPLOY.md
  QUICK_START.md
  SCHEDULER_QUICK_GUIDE.md
  app/app.json
  server/.env.example
  server/.env.secrets.example
  server/CLOUD_SCHEDULER_SETUP.md
  server/DEPLOY_COMMANDS.sh
  server/GCP_COMMANDS_REFERENCE.md
  server/setup-scheduler.sh
Due: prettier -w

Add comprehensive testing guide and complete deployment
  TESTING_GUIDE.md
  app/app.json
  app/assets/notification-icon.png
Due: prettier -w

🎉 PRODUCTION DEPLOYMENT COMPLETE!
  DEPLOYMENT_COMPLETE.md
  app/android/gradle.properties
  app/android/gradle.properties.temp
  app/app.json
Due: prettier -w

📱 UI Hookup complete - Full integration guide
  COMPLETE_TESTING_INSTRUCTIONS.md
  UI_HOOKUP_GUIDE.md
  app/build-dev.sh
Due: prettier -w

🎊 COMPLETE DEPLOYMENT - Backend + Mobile LIVE!
  FINAL_STATUS.md
  app/android/gradle.properties
Due: prettier -w

🚀 GitHub Actions Auto-Deploy Setup Complete
  .github/workflows/build-mobile.yml
  .github/workflows/deploy-backend.yml
  .gitignore
  GITHUB_ACTIONS_SETUP.md
  HOW_TO_SIGN_IN.md
  SETUP_AUTO_DEPLOY.md
Due: prettier -w

Add auto-deploy ready guide
  AUTO_DEPLOY_READY.md
Due: prettier -w

Add physical phone testing guide
  TEST_ON_PHONE.md
Due: prettier -w

feat: Complete production deployment setup
  .github/workflows/build-mobile.yml
  .github/workflows/deploy-backend.yml
  AUTO_DEPLOY_STATUS.md
  FINAL_DEPLOYMENT_READY.md
  GITHUB_ACTIONS_SETUP.md
  GITHUB_AUTO_DEPLOY_SETUP.md
  IMPLEMENTATION_COMPLETE_V2.md
  PLAY_STORE_DEPLOYMENT_GUIDE.md
  QUICK_TEST_GUIDE.md
  SETUP_AUTO_DEPLOY.md
  TEST_ON_PHONE.md
  app/android/app/build.gradle
  app/android/app/src/main/AndroidManifest.xml
  app/android/gradle.properties
  app/android/gradle.properties.temp
  app/app.json
  app/app/(tabs)/receipts.tsx
  app/app/login.tsx
  app/src/services/api.ts
  app/src/services/receiptService.ts
Due: eslint --fix, prettier -w

fix: Remove npm cache from workflow (Docker handles caching)
  .github/workflows/deploy-backend.yml
Due: prettier -w

fix: Configure rate limiter for Cloud Run proxy headers
  server/src/index.ts
Due: eslint --fix, prettier -w

fix: Dockerfile syntax error (indentation)
  server/Dockerfile
Due: none

fix: Docker build context in GitHub Actions workflow
  .github/workflows/deploy-backend.yml
Due: prettier -w

fix: Add package-lock.json to git (required for Docker build)
  server/package-lock.json
Due: prettier -w

chore: Trigger deployment with permissions fix
  server/README.md
Due: prettier -w

fix: Increase auth rate limit for testing (10 -> 100)
  server/src/index.ts
Due: eslint --fix, prettier -w

fix: Accept Google tokens from Android/iOS/Web clients
  server/src/services/socialVerify.ts
Due: eslint --fix, prettier -w

fix: TypeScript type error in Google token validation
  server/src/services/socialVerify.ts
Due: eslint --fix, prettier -w

debug: add logging to see what client IDs are being used
  server/src/services/socialVerify.ts
Due: eslint --fix, prettier -w

fix: add safe area support for header buttons
  app/app/(tabs)/_layout.tsx
  app/app/_layout.tsx
Due: eslint --fix, prettier -w

chore: remove debug logging from Google token verification
  server/src/services/socialVerify.ts
Due: eslint --fix, prettier -w

Fix workflow cache and trigger deployment
  .github/workflows/deploy-backend.yml
  server/src/index.ts
Due: eslint --fix, prettier -w

Remove unnecessary Node.js setup from workflow
  .github/workflows/deploy-backend.yml
  server/src/index.ts
Due: eslint --fix, prettier -w
